In [1]:
import numpy as np
import pandas as pd
import glob, os

In [2]:
files = glob.glob('data/*.txt')
print(files)

['data\\E1.txt', 'data\\E10.txt', 'data\\E11.txt', 'data\\E12.txt', 'data\\E13.txt', 'data\\E14.txt', 'data\\E15.txt', 'data\\E16.txt', 'data\\E17.txt', 'data\\E18.txt', 'data\\E19.txt', 'data\\E2.txt', 'data\\E20.txt', 'data\\E21.txt', 'data\\E22.txt', 'data\\E23.txt', 'data\\E24.txt', 'data\\E25.txt', 'data\\E26.txt', 'data\\E27.txt', 'data\\E28.txt', 'data\\E29.txt', 'data\\E3.txt', 'data\\E30.txt', 'data\\E31.txt', 'data\\E32.txt', 'data\\E33.txt', 'data\\E34.txt', 'data\\E35.txt', 'data\\E36.txt', 'data\\E37.txt', 'data\\E38.txt', 'data\\E39.txt', 'data\\E4.txt', 'data\\E40.txt', 'data\\E41.txt', 'data\\E42.txt', 'data\\E43.txt', 'data\\E44.txt', 'data\\E5.txt', 'data\\E6.txt', 'data\\E7.txt', 'data\\E8.txt', 'data\\E9.txt']

In [3]:
len(files)

44

In [4]:
df = pd.concat([pd.read_csv(f, header=None, names=['row']).assign(template=os.path.basename(f)) for f in files])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11120631 entries, 0 to 559722
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   row       int64
 1   template  object
dtypes: int64(1), object(1)
memory usage: 254.5+ MB

In [5]:
df.head()

   row template
0    1   E1.txt
1    3   E1.txt
2    4   E1.txt
3   14   E1.txt
4   15   E1.txt

In [6]:
y = pd.Series(np.arange(1, 11175630), name = 'row')
y

0                  1
1                  2
2                  3
3                  4
4                  5
              ...
11175624    11175625
11175625    11175626
11175626    11175627
11175627    11175628
11175628    11175629
Name: row, Length: 11175629, dtype: int32

In [7]:
temp = pd.merge(y, df, on = 'row', how = 'left', left_index = True)
temp.head()

     row template
0.0    1   E1.txt
0.0    2  E16.txt
1.0    3   E1.txt
2.0    4   E1.txt
0.0    5   E7.txt

In [8]:
temp[temp['template'].isnull()].head()

     row template
NaN   11      NaN
NaN   22      NaN
NaN   24      NaN
NaN   29      NaN
NaN   32      NaN

In [9]:
df[df['row']==12]

   row template
0   12  E18.txt

In [10]:
temp['template'].fillna('Other.txt', inplace=True)
temp[temp['template'].isnull()].sum()

row         0.0
template    0.0
dtype: float64

In [11]:
temp['template'] = temp['template'].str.rstrip('.txt')
temp['template'].value_counts()

E1       1723232
E2       1615327
E3       1603729
E4       1396174
E5       1337023
E6        568913
E7        568890
E8        568876
E9        559723
E10       428726
E11       356207
E12       120036
E13        65907
E14        65405
E15        65024
Other      54998
E16        15298
E17        11181
E18        10600
E19         6937
E20         6837
E21         6837
E22         5801
E23         5545
E24         3226
E25         1464
E26         1202
E27          943
E28          467
E29          186
E31          165
E30          165
E33           84
E32           75
E34           65
E35           61
E36           48
E38           47
E37           47
E39           35
E40           34
E43           29
E41           21
E44           20
E42           19
Name: template, dtype: int64

In [12]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 11175629 entries, 0.0 to 120035.0
Data columns (total 2 columns):
 #   Column    Dtype
---  ------    -----
 0   row       int32
 1   template  object
dtypes: int32(1), object(1)
memory usage: 213.2+ MB

In [13]:
temp.to_csv('templates.csv', index=False, header=True)