In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('first_5_columns.csv', header=None, names=['date', 'time', 'id', 'type', 'component'])
df.head()

    date    time   id  type                     component
0  81109  203518  143  INFO      dfs.DataNode$DataXceiver
1  81109  203518   35  INFO              dfs.FSNamesystem
2  81109  203519  143  INFO      dfs.DataNode$DataXceiver
3  81109  203519  145  INFO      dfs.DataNode$DataXceiver
4  81109  203519  145  INFO  dfs.DataNode$PacketResponder

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11175629 entries, 0 to 11175628
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   date       int64
 1   time       int64
 2   id         int64
 3   type       object
 4   component  object
dtypes: int64(3), object(2)
memory usage: 426.3+ MB

In [4]:
df['id'].value_counts()

19       1288017
28        539758
27        444086
26        441387
30        437971
          ...
120            1
133            1
27863          1
27857          1
37             1
Name: id, Length: 27799, dtype: int64

In [5]:
df['type'].value_counts()

INFO    10812836
WARN      362793
Name: type, dtype: int64

In [6]:
df['component'].value_counts()

dfs.FSNamesystem                                          3700245
dfs.DataNode$PacketResponder                              3413350
dfs.DataNode$DataXceiver                                  2518678
dfs.FSDataset                                             1407597
dfs.DataBlockScanner                                       120046
dfs.DataNode                                                 7002
dfs.DataNode$DataTransfer                                    6946
dfs.DataNode$BlockReceiver                                   1718
dfs.PendingReplicationBlocks$PendingReplicationMonitor         47
Name: component, dtype: int64

In [7]:
df['date'].value_counts()

81111    5362174
81110    4934076
81109     879379
Name: date, dtype: int64

In [8]:
df.groupby('date').agg({'time': ['min', 'max']})

         time
          min     max
date
81109  203518  235959
81110       0  235959
81111       0  111628

In [9]:
df['hour'] = pd.to_datetime(df['date'], format = '%H%M%S').dt.hour
df['minute'] = pd.to_datetime(df['date'], format = '%H%M%S').dt.minute
df['second'] = pd.to_datetime(df['date'], format = '%H%M%S').dt.second
df['row'] = np.arange(1, len(df) + 1)
df.head()

,date,time,id,type,component,hour,minute,second,row
0,81109,203518,143,INFO,dfs.DataNode$DataXceiver,8,11,9,1
1,81109,203518,35,INFO,dfs.FSNamesystem,8,11,9,2
2,81109,203519,143,INFO,dfs.DataNode$DataXceiver,8,11,9,3
3,81109,203519,145,INFO,dfs.DataNode$DataXceiver,8,11,9,4
4,81109,203519,145,INFO,dfs.DataNode$PacketResponder,8,11,9,5