In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('merge.csv')
df1.head()

,row,type_INFO,type_WARN,comp_FSname,comp_PacketResponder,comp_DataXceiver,comp_FSDataset,comp_DataBlockScanner,comp_DataNode,comp_DataTransfer,...,T36,T37,T38,T39,T40,T41,T42,T43,T44,T0
0,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11175629 entries, 0 to 11175628
Data columns (total 58 columns):
 #   Column                 Dtype
---  ------                 -----
 0   row                    int64
 1   type_INFO              int64
 2   type_WARN              int64
 3   comp_FSname            int64
 4   comp_PacketResponder   int64
 5   comp_DataXceiver       int64
 6   comp_FSDataset         int64
 7   comp_DataBlockScanner  int64
 8   comp_DataNode          int64
 9   comp_DataTransfer      int64
 10  comp_BlockReceiver     int64
 11  comp_PendingMonitor    int64
 12  minutes                int64
 13  T1                     int64
 14  T2                     int64
 15  T3                     int64
 16  T4                     int64
 17  T5                     int64
 18  T6                     int64
 19  T7                     int64
 20  T8                     int64
 21  T9                     int64
 22  T10                    int64
 23  T11                    int64
 24  T12                    int64
 25  T13                    int64
 26  T14                    int64
 27  T15                    int64
 28  T16                    int64
 29  T17                    int64
 30  T18                    int64
 31  T19                    int64
 32  T20                    int64
 33  T21                    int64
 34  T22                    int64
 35  T23                    int64
 36  T24                    int64
 37  T25                    int64
 38  T26                    int64
 39  T27                    int64
 40  T28                    int64
 41  T29                    int64
 42  T30                    int64
 43  T31                    int64
 44  T32                    int64
 45  T33                    int64
 46  T34                    int64
 47  T35                    int64
 48  T36                    int64
 49  T37                    int64
 50  T38                    int64
 51  T39                    int64
 52  T40                    int64
 53  T41                    int64
 54  T42                    int64
 55  T43                    int64
 56  T44                    int64
 57  T0                     int64
dtypes: int64(58)
memory usage: 4.8 GB

In [4]:
df2 = pd.read_csv('labels_and_sequence.csv')
df2.head()

   row  sequence_in_block   label
0    1                  1  Normal
1    2                  2  Normal
2    3                  3  Normal
3    4                  4  Normal
4    5                  5  Normal

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11175629 entries, 0 to 11175628
Data columns (total 3 columns):
 #   Column             Dtype
---  ------             -----
 0   row                int64
 1   sequence_in_block  int64
 2   label              object
dtypes: int64(2), object(1)
memory usage: 255.8+ MB

In [6]:
df2['label'] .value_counts()

Normal     10887379
Anomaly      288250
Name: label, dtype: int64

In [7]:
df2['label'] = df2['label'].map( {'Normal':0 , 'Anomaly':1} )
df2['label'] .value_counts()

0    10887379
1      288250
Name: label, dtype: int64

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11175629 entries, 0 to 11175628
Data columns (total 3 columns):
 #   Column             Dtype
---  ------             -----
 0   row                int64
 1   sequence_in_block  int64
 2   label              int64
dtypes: int64(3)
memory usage: 255.8 MB

In [9]:
df1['row'].min(), df1['row'].max()

(1, 11175629)

In [10]:
df2['row'].min(), df2['row'].max()

(1, 11175629)

In [11]:
df_combined = pd.merge(df1, df2, how='inner', on='row', left_index=True)
df_combined.head()

,row,type_INFO,type_WARN,comp_FSname,comp_PacketResponder,comp_DataXceiver,comp_FSDataset,comp_DataBlockScanner,comp_DataNode,comp_DataTransfer,...,T38,T39,T40,T41,T42,T43,T44,T0,sequence_in_block,label
0,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
2,3,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
3,4,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,4,0
4,5,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,0

In [12]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11175629 entries, 0 to 11175628
Data columns (total 60 columns):
 #   Column                 Dtype
---  ------                 -----
 0   row                    int64
 1   type_INFO              int64
 2   type_WARN              int64
 3   comp_FSname            int64
 4   comp_PacketResponder   int64
 5   comp_DataXceiver       int64
 6   comp_FSDataset         int64
 7   comp_DataBlockScanner  int64
 8   comp_DataNode          int64
 9   comp_DataTransfer      int64
 10  comp_BlockReceiver     int64
 11  comp_PendingMonitor    int64
 12  minutes                int64
 13  T1                     int64
 14  T2                     int64
 15  T3                     int64
 16  T4                     int64
 17  T5                     int64
 18  T6                     int64
 19  T7                     int64
 20  T8                     int64
 21  T9                     int64
 22  T10                    int64
 23  T11                    int64
 24  T12                    int64
 25  T13                    int64
 26  T14                    int64
 27  T15                    int64
 28  T16                    int64
 29  T17                    int64
 30  T18                    int64
 31  T19                    int64
 32  T20                    int64
 33  T21                    int64
 34  T22                    int64
 35  T23                    int64
 36  T24                    int64
 37  T25                    int64
 38  T26                    int64
 39  T27                    int64
 40  T28                    int64
 41  T29                    int64
 42  T30                    int64
 43  T31                    int64
 44  T32                    int64
 45  T33                    int64
 46  T34                    int64
 47  T35                    int64
 48  T36                    int64
 49  T37                    int64
 50  T38                    int64
 51  T39                    int64
 52  T40                    int64
 53  T41                    int64
 54  T42                    int64
 55  T43                    int64
 56  T44                    int64
 57  T0                     int64
 58  sequence_in_block      int64
 59  label                  int64
dtypes: int64(60)
memory usage: 5.1 GB

In [13]:
df_combined.to_csv('HDFS1_data.csv', index=False, header=True)